<h3><%= ::Temple::Utils.escape_html((@comment.id)) %></h3>
<% if @comment.name == "" %>
<h3><p>Name: Anonymous </p></h3>
<% else %>
<h3><p>Name: <%= ::Temple::Utils.escape_html((@comment.name)) %></p></h3>
<% end %>
<h3><p>Comment: <%= ::Temple::Utils.escape_html((@comment.comment)) %></p></h3>
<h3><p>Created at: <%= ::Temple::Utils.escape_html((@comment.created_at)) %></p></h3>
<p><a href="/comments"><h4>Back to Comments section</h4></a></p>
<form action="/comments/<%= ::Temple::Utils.escape_html((@comment.id)) %>" method="POST">
</form> 
