<h1><%= ::Temple::Utils.escape_html((@student.id)) %>
</h3><p>First Name : <%= ::Temple::Utils.escape_html((@student.sfname)) %></p></h3>
<h3><p>Last Name : <%= ::Temple::Utils.escape_html((@student.slname)) %></p></h3>
<h3><p>Major :  <%= ::Temple::Utils.escape_html((@student.major)) %></p></h3>
<h3><p>GPA : <%= ::Temple::Utils.escape_html((@student.gpa)) %></p></h3>
<h3><p>Birthday : <%= ::Temple::Utils.escape_html((@student.birthday)) %></p></h3>
<h3><p>Address : <%= ::Temple::Utils.escape_html((@student.address)) %></p></h3>
<h3><p>Student ID : <%= ::Temple::Utils.escape_html((@student.studentid)) %></p></h3>
<h2><p><a href="/students">Back to Student Records</a></p></h2>
<h2><p><a href="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>/edit">Edit Student Record</a></p></h2>
<h2><form action="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>" method="POST"></h2>
<h2><input name="_method" type="hidden" value="DELETE" /></h2>
<h2><input type="submit" value="Delete this Student Record" /></h2>
</form>
