<h3><%= ::Temple::Utils.escape_html((@student.id)) %> </h3>
<h3><p>First Name : <%= ::Temple::Utils.escape_html((@student.sfname)) %></p></h3>
<% if @comment.name == "" %>
<h3><p>Last Name : <%= ::Temple::Utils.escape_html((@student.slname)) %></p></h3>
<% else %>
<h3><p>Last Name : Unknown </p></h3>
<% end %>
<h3><p>Major :  <%= ::Temple::Utils.escape_html((@student.major)) %></p></h3>
<h3><p>GPA : <%= ::Temple::Utils.escape_html((@student.gpa)) %></p></h3>
<h3><p>Birthday : <%= ::Temple::Utils.escape_html((@student.birthday)) %></p></h3>
<h3><p>Address : <%= ::Temple::Utils.escape_html((@student.address)) %></p></h3>
<h3><p>Student ID : <%= ::Temple::Utils.escape_html((@student.studentid)) %></p></h3>
<p><a href="/students"><h4>Back to Student Records</h4></a></p>
<p><a href="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>/edit"><h4>Edit Student Record</h4></a></p>
<form action="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>" method="POST">
<input name="_method" type="hidden" value="DELETE" />
<input type="submit" value="Delete this Student Record" />
</form>
